:root {
  --colorOne: rgb(238, 105, 105);
  --colorTwo: white;
  --titleColor: black;
  --dateColor: rgb(146, 141, 148);
  --descColor: rgb(78, 78, 78);
  --borderSize: 5px;
  --borderRadius: 20px;
  --fontSize: 2rem;
  --fontDescSize: 1.2rem;
}

.TimeLinePoint:nth-child(odd)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
  border-left: var(--borderSize) solid var(--colorOne);
  border-bottom-left-radius: var(--borderRadius);
  border-top: var(--borderSize) solid var(--colorOne);
  border-top-left-radius: var(--borderRadius);
}
.TimeLinePoint:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  border-left: var(--borderSize) solid var(--colorOne);
  border-top: none;
}
.TimeLinePoint::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: var(--borderSize) solid var(--colorOne);
}
.TimeLinePoint:nth-child(even)::before {
  content: "";
  position: absolute;
  right: 0;
  left: 45%;
  bottom: 0;
  width: 55%;
  height: 100%;
  border-bottom: var(--borderSize) solid var(--colorOne);
  border-right: var(--borderSize) solid var(--colorOne);
  border-top: var(--borderSize) solid var(--colorOne);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
.TimeLinePoint {
  min-width: 30vw;
  width: 100%;
  max-width: 85vw;
  background-color: white;
  color: var(--colorOne);
  position: relative;
  padding: 5%;
}

.TimeLinePointCounter {
  position: absolute;
  border-radius: 50%;
  background-color: var(--colorOne);
  color: var(--colorTwo);
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  top: 45%;
}

.TimeLinePoint:nth-child(even) .TimeLinePointCounter {
  right: -0.9em;
}
.TimeLinePoint:nth-child(odd) .TimeLinePointCounter {
  left: -0.9em;
}

.TimeLinePointTitle {
  flex-basis: 100%;
  font-weight: bold;
  color: var(--titleColor);
  font-size: 1.6rem;
  text-align: left;
}
.TimeLinePointDate {
  text-align: left;
  color: var(--dateColor);
  min-width: 100%;
}
.TimeLinePointDescription {
  color: var(--descColor);
  min-width: 100%;
  text-align: justify;
  font-size: var(--fontDescSize);
  padding-top: 1%;
}

.CenterItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
}
.Pills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  text-align: center;
  flex-basis: 100%;
}
.Pill {
  background-color: #386fc0;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 0.5%;
  display: inline-block;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .TimeLinePointDescription {
    padding: 6%;
  }
  .TimeLinePointDate {
    padding: 6%;
  }
  .TimeLinePointTitle {
    padding: 6%;
  }
  .Pill {
    margin: 1%;
    margin-left: 5%;
  }
}
